<div class="container">
    <form #detailform="ngForm" (ngSubmit)="onEdit(detailform)">
            <label for="">Task</label>
            <input ngModel [ngModel]="task.name" required name="name" class="form-control mb-1" type="text">
            <p *ngIf="detailform.invalid" class="text-danger m-0">your Task must have a name!</p>

            <label class="mt-2" for="">description</label>
            <textarea ngModel [ngModel]="task.description" class="form-control my-1" name="description" id="" cols="30" rows="5"></textarea>
            
            <div class="my-3 d-flex justify-content-between">
            <button 
            type="button" 
            class="check-btn px-2 " 
            [ngClass]="{'done': task.done}"    
            (click)="toggleDone()">
            <i class="fa fa-check"></i>
            </button>
            
            <button type="submit" class="btn-grad p-2" [disabled]="detailform.touched && detailform.invalid">save changes</button>
            </div>
        </form>
</div>